@model Model.Data.HazardReportViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}
<link href="~/Content/magic-check.min.css" rel="stylesheet" />


<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href='#' data-lang="lblSafety">An toàn</a></li>
            <li class="breadcrumb-item active" data-lang="lblHazardReport">Báo cáo nguy hiểm</li>
        </ol>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div ng-controller="HazardReportController" ng-init="fn.Init()">
    <input type="file" id="fileToUpload" style="display: none;" />
    <input type="hidden" id="stt" name="stt" value="@ViewBag.STT">
    <input type="hidden" id="hfUsername" value="@ViewBag.UserName" />
    <input type="hidden" id="hfTTPhieu" value="@ViewBag.TTPhieu" />
    <input type="hidden" id="hfUserDuyet" value="@ViewBag.UserDuyet" />
    <input type="hidden" id="hfIDStafety" value="@ViewBag.IDStafety" />
    @Html.HiddenFor(model => model.ID)
    <div class="row" id="frmMain">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="row">
                    <div class="form-group responsive">
                        @*<input type="image" src="data:image/gif;base64,(@Model.Image_1)" style="width:100%;height:auto" />*@
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group responsive">
                            <label data-lang="lblDocNum">DocNum</label>
                            <div class="input-group">
                                @Html.EditorFor(model => model.DocNum, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                <a class="input-group-addon" ng-click="fn.ShowListHazard();" href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group responsive">
                            <label data-lang="lblCreatedtime">Createdtime</label>
                            @Html.TextBoxFor(model => model.sCreatedtime, "{0:MM/dd/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group responsive">
                            <label data-lang="lblDocDate">DocDate</label>
                            @Html.TextBoxFor(model => model.sDocDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @type = "datepicker" })
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group responsive">
                            <label data-lang="lblDocTime">DocTime</label>
                            @Html.TextBoxFor(model => model.DocTime, "", new { @class = "form-control", @type = "datepicker" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group responsive">
                            <label data-lang="lblCreatedBy">CreatedBy</label>
                            @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group responsive">
                            <label data-lang="lblREPORT_PARENT">REPORT_PARENT</label>
                            @*@Html.EditorFor(model => model.REPORT_PARENT, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.DropDownListFor(model => model.REPORT_PARENT, (SelectList)ViewBag.ListReportParent, new { data_live_search = "true", data_slide = "left", @class = "form-control select-one select2", @style = "width:100%" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group responsive">
                            <label data-lang="lblNGUOILIENQUAN1">NGUOILIENQUAN1</label>
                            @*@Html.EditorFor(model => model.NGUOILIENQUAN1, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.DropDownListFor(model => model.NGUOILIENQUAN1, (SelectList)ViewBag.ListPersonRef, new { data_live_search = "true", data_slide = "left", @class = "form-control select-one select2", @style = "width:100%" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center">
                        <a href="#">
                            @if (@Model.Image_1 == null)
                            {
                                <img type="image" src="" class="rounded mx-auto d-block" style="width : 90px; height:80px" ng-click="fn.ShowImage();" id="Image_1" />
                            }
                            else
                            {
                                <img type="image" src="data:image;base64,@System.Convert.ToBase64String(@Model.Image_1)" class="rounded mx-auto d-block" style="width : 90px; height:80px" ng-click="fn.ShowImage();" id="Image_1" />
                            }
                        </a>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group responsive">
                            <label data-lang="lblDescription">Description</label>
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group responsive">
                            <label data-lang="lblCOMMENT">COMMENT</label>
                            @Html.EditorFor(model => model.COMMENT, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.COMMENT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                        <div class="form-group responsive">
                            <label data-lang="lblUnsafeCondition">UnsafeCondition</label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.RadioButtonFor(model => model.CauSafery, "1", new { @id = "UnsafeCondition", @class = "align-middle", @Checked = "checked" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                        <div class="form-group responsive">
                            <label data-lang="lblUnsafeBehevior">UnsafeBehevior</label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.RadioButtonFor(model => model.CauSafery, "2", new { @id = "UnsafeBehevior", @class = "align-middle" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                        <div class="form-group responsive">
                            <label data-lang="lblSatetySuggestion">SatetySuggestion</label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.RadioButtonFor(model => model.CauSafery, "3", new { @id = "SatetySuggestion", @class = "align-middle" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                        <div class="form-group responsive">
                            <label data-lang="lblNearMiss">NearMiss</label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.RadioButtonFor(model => model.CauSafery, "4", new { @id = "NearMiss", @class = "align-middle" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                        <div class="form-group responsive">
                            <label data-lang="lblEnvironment">Environment</label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.RadioButtonFor(model => model.CauSafery, "5", new { @id = "Environment", @class = "align-middle" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                        <div class="form-group responsive">
                            <label data-lang="lblTT">TT</label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.RadioButtonFor(model => model.CauSafery, "6", new { @id = "TT", @class = "align-middle" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                        <div class="form-group responsive">
                            <label data-lang="lblOther">Other</label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.RadioButtonFor(model => model.CauSafery, "7", new { @id = "Other", @class = "align-middle" })
                    </div>
                </div>

                <div class="row panel-title">
                    <label class="text-primary" data-lang="lblDepartment"><u>Phòng ban liêu quan</u></label>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                        <div class="form-group responsive">
                            <label data-lang="lblOperation">Operation</label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.RadioButtonFor(model => model.Relateddepartments, "2", new { @id = "Operation", @class = "align-middle form-check-input", @Checked = "checked" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                        <div class="form-group responsive">
                            <label data-lang="lblTechHSE">TechHSE</label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.RadioButtonFor(model => model.Relateddepartments, "3", new { @id = "TechHSE", @class = "align-middle" })
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                        <div class="form-group responsive">
                            <label data-lang="lblHR">HR</label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.RadioButtonFor(model => model.Relateddepartments, "5", new { @id = "HR", @class = "align-middle" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                        <div class="form-group responsive">
                            <label data-lang="lblAccount">Account</label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.RadioButtonFor(model => model.Relateddepartments, "6", new { @id = "Acount", @class = "align-middle" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                        <div class="form-group responsive">
                            <label data-lang="lblBelongContractor">BelongContractor</label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.RadioButtonFor(model => model.Belongto, "1", new { @id = "BelongContractor", @class = "align-middle", @Checked = "checked" })
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                        <div class="form-group responsive">
                            <label data-lang="lblBelongtoBSPort">BelongtoBSPort</label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.RadioButtonFor(model => model.Belongto, "2", new { @id = "BelongtoBSPort", @class = "align-middle" })
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                        <div class="form-group responsive">
                            <label data-lang="lblStopwork">Stopwork</label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.CheckBoxFor(model => model.Stopwork, new { @id = "Stopwork", @class = "align-middle" })
                    </div>

                </div>

                <div class="row">
                    <div class="form-group responsive">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                            <label data-lang="lblAPPUSER">APPROVAL_USER</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            @Html.EditorFor(model => model.APPROVAL_USER, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                            @Html.CheckBoxFor(model => model.IS_APPROVED, new { @id = "IS_APPROVED", @class = "align-middle" })
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top:inherit">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" style="text-align:center">
                        <img src="~/Resource/1.png">
                        <div>
                            @Html.RadioButtonFor(model => model.HPES, "1", new { @id = "HPES1", @class = "align-self-center", @Checked = "checked" })
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" style="text-align:center">
                        <img src="~/Resource/2.png">
                        <div style="text-align:center">
                            @Html.RadioButtonFor(model => model.HPES, "2", new { @id = "HPES2", @class = "align-self-center" })
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" style="text-align:center">
                        <img src="~/Resource/3.png">
                        <div style="text-align:center">
                            @Html.RadioButtonFor(model => model.HPES, "3", new { @id = "HPES3", @class = "align-self-center" })
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" style="text-align:center">
                        <img src="~/Resource/4.png">
                        <div style="text-align:center">
                            @Html.RadioButtonFor(model => model.HPES, "4", new { @id = "HPES4", @class = "align-self-center" })
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" style="text-align:center">
                        <img src="~/Resource/5.png">
                        <div style="text-align:center">
                            @Html.RadioButtonFor(model => model.HPES, "5", new { @id = "HPES5", @class = "align-self-center" })
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" style="text-align:center">
                        <label data-lang="lblOther">Khác</label>
                        <div style="text-align:center;padding-top:5px;">
                            @Html.RadioButtonFor(model => model.HPES, "6", new { @id = "HPES6", @class = "align-self-center" })
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group responsive">
                            <label data-lang="lblDepartment">Department</label>
                            @Html.DropDownListFor(model => model.Department, (SelectList)ViewBag.ListDepartment, new { data_live_search = "true", data_slide = "left", @class = "form-control select-one select2", @style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group responsive">
                            <label data-lang="lblLocation">Location</label>
                            @*@Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.DropDownListFor(model => model.Location, (SelectList)ViewBag.ListLocation, new { data_live_search = "true", data_slide = "left", @class = "form-control select-one select2", @style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div id="divButtonDefault" class="toolbar-action">
                        <a href='@Url.Action("ShowHazardReport", "Safety")' data-lang="btnRefresh" id="btnRefresh" class="btn btn-default pull-right" style="margin-top: 40px;">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </a>
                        <button ng-click="fn.CheckValidateControl();" type="button" data-lang="btnGhi" id="btnSave" class="btn btn-default pull-right" style="margin-top: 40px;">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button>
                        <button ng-click="fn.Remove();" type="button" data-lang="btndelete" id="btnXoa" class="btn btn-default pull-right" style="margin-top: 40px;">
                            <i class="fa fa-minus-square" aria-hidden="true"></i>
                        </button>
                    </div>

                </div>





            </div>

            <div class="card-box">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="toolbar-action">

                            <button ng-click="fn.Report();" type="button" data-lang="btnReport" id="btnReport" class="btn btn-default pull-right">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </button>

                            <button ng-click="fn.RemoveDetails();" type="button" disabled data-lang="btnXoa" id="btnRemoveDetails" class="btn btn-default pull-right">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                            <button ng-click="fn.EditDetails();" type="button" disabled data-lang="btnSua" id="btnEditDetails" class="btn btn-default pull-right">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button ng-click="fn.AddDetails();" type="button" data-lang="btnThem" id="btnAddDetails" class="btn btn-default pull-right">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </button>
                        </div>

                        <h5 class="card-title" data-lang="lblListHazardReportDetails">Danh sách báo cáo an toàn chi tiếc</h5>
                        <div class="table-responsive" style="overflow: auto">
                            <table id="tbHazardDetails" class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th data-lang="PreventiveAction">PreventiveAction</th>
                                        <th data-lang="PersonIncharge" class="hidden">PersonIncharge</th>
                                        <th data-lang="TENPersonIncharge">TENPersonIncharge</th>
                                        <th data-lang="MUCUUTIEN" class="hidden">MUCUUTIEN</th>
                                        <th data-lang="TENMUCUUTIEN">TENMUCUUTIEN</th>

                                        <th data-lang="Deadline">Deadline</th>
                                        <th data-lang="CompletedDate">CompletedDate</th>
                                        <th data-lang="Status">Status</th>
                                        <th data-lang="PersonReport" class="hidden">PersonReport</th>
                                        <th data-lang="Description">Description</th>

                                        <th data-lang="THIETBI" class="hidden">THIETBI</th>
                                        <th data-lang="TENTHIETBI">THIETBI</th>
                                        <th data-lang="LOAIYEUCAU" class="hidden">LOAIYEUCAU</th>
                                        <th data-lang="TENLOAIYEUCAU">TENLOAIYEUCAU</th>
                                        <th data-lang="NGUYENNHAN" class="hidden">NGUYENNHAN</th>

                                        <th data-lang="TENNGUYENNHAN">TENNGUYENNHAN</th>
                                        @*<th data-lang="UserRequestDetailID" class="hidden">UserRequestDetailID</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.ListHarzard1 != null)
                                    {
                                        foreach (var item in Model.ListHarzard1)
                                        {
                                            <tr old data-id-vd="@item.ID">
                                                <td> @item.PreventiveAction </td>
                                                <td class="hidden">@item.PersonIncharge</td>
                                                <td>@item.TENPersonIncharge</td>
                                                <td class="hidden">@item.MUCUUTIEN</td>
                                                <td style="white-space: normal">@item.TENMUCUUTIEN</td>

                                                <td>@if (@item.Deadline != null)
                                                    {
                                                        @item.Deadline.Value.ToString("dd/MM/yyyy");
                                                    }
                                                    else
                                                    {
                                                        "null".ToString();
                                                    }</td>
                                            <td>@if (@item.CompletedDate != null)
                                                {
                                                    @item.CompletedDate.Value.ToString("dd/MM/yyyy");
                                                }
                                                else
                                                {
                                                    "null".ToString();
                                                }</td>
                                        <td>@item.Status</td>
                                        <td class="hidden">@item.PersonReport</td>
                                        <td>@item.Description</td>

                                        <td class="hidden">@item.THIETBI</td>
                                        <td>@item.TENTHIETBI</td>
                                        <td class="hidden">@item.LOAIYEUCAU</td>
                                        <td>@item.TENLOAIYEUCAU</td>
                                        <td class="hidden">@item.NGUYENNHAN</td>

                                        <td>@item.TENNGUYENNHAN</td>
                                    </tr>
                                }
                            }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>

            <div id="divButtonFloat" class="kc_fab_wrapper"></div>
        </div>
    </div>

    @*model chon Hazard*@
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: #15428B !important;" data-lang="lblChooseHazardReport">Chọn báo cáo nguy hiểm</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label data-lang="lblTungay">Từ ngày</label>
                                <input class="form-control" type="text" id="fromDate" data-type="datepicker" value="@DateTime.Now.AddMonths(-1).ToString("dd/MM/yyyy")" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label data-lang="lblDenngay">Đến ngày</label>
                                <input class="form-control" type="text" id="toDate" data-type="datepicker" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive" style="overflow:auto">
                                <table id="tbListHazard" style="width:max-content" class="table table-bordered table-striped table-condensed ">
                                    <thead>
                                        <tr>
                                            <th data-lang="ID" hidden>DeviceID</th>
                                            <th data-lang="DocNum">DocNum</th>
                                            <th data-lang="Description">Description</th>
                                            <th data-lang="DocDate">DocDate</th>
                                            <th data-lang="CreatedBy">CreatedBy</th>
                                            <th data-lang="NGUOITH">NGUOITH</th>
                                            <th data-lang="Status">Status</th>
                                            <th data-lang="TTTH">TTTH</th>
                                            <th data-lang="NLQVP">NLQVP</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div id="divGhi" class="row ">
                        <div class="col-sm-3 col-md-2 col-xs-4 col-lg-3 pull-right">
                            <div class="form-group">
                                <input type="button" data-dismiss="modal" data-lang="btnHuy" style="color: #fff; width: 100%;" class="btn-flat flat" value="Hủy">
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-2 col-xs-4 col-lg-3 pull-right">
                            <div class="form-group">
                                <input type="button" id="btnChooseHazard" style="color: #fff; width: 100%;" data-lang="btnChon" class="btn-flat flat" value="Chon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*popup them bo Hazard*@
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" data-lang="lblEditsHazarDetails">Sửa báo cáo oan toàn</h4>
                </div>
                @Html.Hidden("CompletedDate")
                @Html.Hidden("Status")
                @Html.Hidden("PersonReport")
                @Html.Hidden("Description")
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group responsive">
                                <label data-lang="lblPreventiveAction">PreventiveAction</label>
                                @Html.Editor("PreventiveAction", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group responsive">
                                <label data-lang="lblPersonIncharge">PersonIncharge</label>
                                @Html.DropDownList("PersonIncharge", (SelectList)ViewBag.LoadListInCharge, new { data_live_search = "true", data_slide = "left", @class = "form-control select-one select2", @style = "width:100%" })
                            </div>
                        </div>


                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group responsive">
                                <label data-lang="lblMUCUUTIEN">MUCUUTIEN</label>
                                @Html.DropDownList("MUCUUTIEN", (SelectList)ViewBag.LoadListUuTien, new { data_live_search = "true", data_slide = "left", @class = "form-control select-one select2", @style = "width:100%" })
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group responsive">
                                <label data-lang="lblDeadline">Deadline</label>
                                <input class="form-control date" data-type="datepicker" type="text" id="Deadline" disabled="disabled" />
                            </div>
                        </div>

                        @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group responsive">
                                    <label data-lang="lblCompletedDate">CompletedDate</label>
                                    <input class="form-control date" data-type="datepicker" type="text" id="CompletedDate" />
                                </div>
                            </div>*@

                        @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group responsive">
                                    <label data-lang="lblStatus">Status</label>
                                    @Html.DropDownList("Status", (SelectList)ViewBag.LoadListUuTien, new { data_live_search = "true", data_slide = "left", @class = "form-control select-one select2", @style = "width:100%" })
                                </div>
                            </div>*@


                        @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group responsive">
                                    <label data-lang="lblPersonReport">PersonReport</label>
                                    @Html.Editor("PersonReport", new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>*@
                        @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group responsive">
                                    <label data-lang="lblDescription">Description</label>
                                    @Html.DropDownListFor(model => model.Description, (SelectList)ViewBag.LoadListInCharge, new { data_live_search = "true", data_slide = "left", @class = "form-control select-one select2", @style = "width:100%" })
                                </div>
                            </div>*@
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group responsive">
                                <label data-lang="lblTHIETBI">THIETBI</label>
                                @Html.DropDownList("THIETBI", (SelectList)ViewBag.LoadListThietBi, new { data_live_search = "true", data_slide = "left", @class = "form-control select-one select2", @style = "width:100%" })
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group responsive">
                                <label data-lang="lblLOAIYEUCAU">LOAIYEUCAU</label>
                                @Html.DropDownList("LOAIYEUCAU", (SelectList)ViewBag.LoadListLoaiYC, new { data_live_search = "true", data_slide = "left", @class = "form-control select-one select2", @style = "width:100%" })
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group responsive">
                                <label data-lang="lblNGUYENNHAN">NGUYENNHAN</label>
                                @Html.DropDownList("NGUYENNHAN", (SelectList)ViewBag.LoadListNguyenNhan, new { data_live_search = "true", data_slide = "left", @class = "form-control select-one select2", @style = "width:100%" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row ">
                        <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3 pull-right">
                            <div class="form-group">
                                <input type="button" data-dismiss="modal" id="Button1" data-lang="btnHuy" style="color: #fff; width: 100%;" class="btn-flat flat" value="Hủy">
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3 pull-right">
                            <div class="form-group">
                                <input type="submit" id="btnSave" data-action="add" style="color: #fff; width: 100%;" data-lang="btnGhi" class="btn-flat flat" ng-click="fn.CheckValidateControl1()" value="Lưu">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myModalHinh" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img style="width:100%" class="modal-content" id="img01">
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnChonHinh" class="btn btn-primary">Chọn hình</button>
                    <button type="button" id="btnXoaHinh" class="btn btn-primary">Xóa hình</button>
                    <button type="button" id="btnLuuHinh" data-dismiss="modal" class="btn btn-primary">Lưu hình</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myModalMail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" data-lang="lblSentMail">Gửi mail</h4>
                </div>

                <div class="modal-body">
                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group responsive">
                                <label data-lang="lnlGuiToi">Gửi tới</label>
                                <textarea data-loaimail=""  class="form-control" id="txtGuiToi" style="width:100%"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group responsive">
                                <label data-lang="lblGuiThem">Gửi thêm</label>
                                <textarea data-report="" class="form-control" id="txtGuiThem" style="width:100%"></textarea>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3 pull-right">
                            <div class="form-group">
                                <input type="button" data-lang="btnNoSent" style="color: #fff;  width: 100%;" ng-click="fn.NoSentMail();" class="btn-flat flat" value="Không gửi">
                            </div>
                        </div>

                        <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3 pull-right">
                            <div class="form-group">
                                <input type="button" id="btnThucHien" style="color: #fff; width: 100%;" data-lang="btnThucHien" ng-click="fn.SentMail();" class="btn-flat flat" value="Gửi mail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="modal fade" id="ModaReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" data-lang="lblReport">Báo cáo</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group responsive">
                                <label data-lang="lblNguoiBC">Người báo cáo</label>
                                @Html.Editor("txtNguoiBC", new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group responsive">
                                <label data-lang="lblNgayHT">Ngày hoàn thành</label>
                                <input class="form-control date" data-type="datepicker" type="text" id="dtNgayHT" />
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group responsive">
                                <label data-lang="lblNghiChu">Ghi chú</label>
                                <textarea data-report="" class="form-control" id="txtGhiChu" style="width:100%"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row ">
                        <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3 pull-right">
                            <div class="form-group">
                                <input type="button" data-dismiss="modal" data-lang="btnHuy" style="color: #fff; width: 100%;" class="btn-flat flat" value="Hủy">
                            </div>
                        </div>

                        <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3 pull-right">
                            <div class="form-group">
                                <input type="button" id="btnKhongTH" style="color: #fff; width: 100%;" data-lang="btnKhongTH" ng-click="fn.KhongThucHien();" class="btn-flat flat" value="Không TH">
                            </div>
                        </div>

                        <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3 pull-right">
                            <div class="form-group">
                                <input type="button" id="btnThucHien" style="color: #fff; width: 100%;" data-lang="btnThucHien" ng-click="fn.ThucHien();" class="btn-flat flat" value="Thực hiện">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>


}

<script>
    var urlGetListHazardReport = '@Url.Action("GetListHazardReport", "Safety")';
    var urlEditHazardReport = '@Url.Action("EditHazardReport", "Safety")';
    var urlInsertHazardReport = '@Url.Action("ShowHazardReport", "Safety")';
    var urlSaveHazardReport = '@Url.Action("SaveHazardReport", "Safety")';

    var urlDeleteHazardReport = '@Url.Action("DeleteHazardReport", "Safety")';
    var urlGetDepartmentbyReportParent = '@Url.Action("GetDepartmentbyReportParent", "Safety")';
    var urlSacveImage = '@Url.Action("SaveImage", "Safety")';
    var urlCheckApprovalUser = '@Url.Action("CheckApprovalUser", "Safety")';

    var urlSentMail = '@Url.Action("SentMail", "Safety")';

    require(['HazardReportController'])

    var importfile = $('#fileToUpload');
    $('#btnChonHinh').click(function () {
        importfile.click();
    });
    $('#btnXoaHinh').click(function () {
        file = null;
        $('#img01').attr('src', null);
    });
    $('#btnLuuHinh').click(function () {
        var fd = new FormData();
        fd.append('image', file);
        $.ajax({
            type: "POST",
            data: fd,
            processData: false,
            contentType: false,
            url: urlSacveImage,
            success: function (resulst) {
                if (resulst == 'success') {
                    $('#Image_1').attr('src', $('#img01').attr('src'));
                }
                else {
                    $('#Image_1').attr('src', null);
                }
            },
            error: function (response) {
                $('#Image_1').attr('src', null);
            }
        });
    });


    var file;
    importfile.change(function () {
        // is file choosed
        if (!this.files.length) {
            return;
        }
        // is image
        file = this.files[0];
        this.value = '';
        switch (file.type) {
            case 'image/bmp':
            case 'image/jpeg':
            case 'image/jpg':
            case 'image/png':
            case 'image/gif':
                break;
            default:
                {
                    alert('The uploaded file is not supported.');
                    return;
                }
        }
        uploadImgDisplay(file);
    });

    function uploadImgDisplay(curFile) {
        var fileURL = window.URL.createObjectURL(curFile);
        $('#img01').attr('src', fileURL);
    }
</script>
