
@using Model.Data
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href='@Url.Action("index", "Dashboard")'>Dashboard</a></li>
            <li id="frmYeuCauCuaNSD" class="breadcrumb-item active" data-lang="lblmyEcomain">Tiếp nhận yêu cầu</li>
        </ol>
    </div>
</div>
<div ng-controller="MyEcomainController" ng-init="fn.Init()">
    <input type="file" id="fileToUpload" style="display: none;" />
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group responsive">
                            <label data-lang="lblDiaDiem">Địa điểm</label>
                            @Html.DropDownList("cbbDiaDiem", ViewBag.NhaXuong as SelectList, new { name = "cbbDiaDiem", data_slide = "left", @class = "form-control select2-container--classic", @style = "width:100%" })
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group responsive">
                            <label data-lang="lblThietBi">Máy</label>
                            <div class="input-group">
                                @Html.DropDownList("cbbThietBi", ViewBag.NhaXuong as SelectList, new { name = "cbbThietBi", data_live_search = "true", data_slide = "left", @class = "form-control select2-container--classic", @style = "width:100%" })
                                <a class="input-group-addon" id="ReadBtn" href="#"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span></a>
                                <img hidden id="fileImg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tabWorkorder" aria-controls="tabWorkorder" role="tab" data-toggle="tab">Bảo trì</a></li>
                    <li role="presentation"><a href="#tabmonitoring" aria-controls="tabmonitoring" role="tab" data-toggle="tab">Đối chiếu tồn kho</a></li>
                </ul>
                <h6 style="margin: 20px 0 0 0;"></h6>
                <!-- Tab panes -->
                <div class="tab-content">
                    @*tab phieu bao tri*@
                    <div role="tabpanel" class="tab-pane active" id="tabWorkorder">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="radio">
                                    <label><input type="radio" name="optradio" value="1" checked>Giai đoạn</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="optradio" value="0">Trong ngày</label>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <div class="form-group">
                                    <label data-lang="lblTungay">Từ ngày</label>
                                    <input class="form-control" type="text" id="fromDate" data-type="datepicker" value="@DateTime.Now.AddMonths(-1).ToString("dd/MM/yyyy")" />
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <div class="form-group">
                                    <label data-lang="lblDenngay">Đến ngày</label>
                                    <input class="form-control" type="text" id="toDate" data-type="datepicker" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                </div>
                            </div>
                        </div>
                        @*table danh sách phiếu bảo trì đến và quá hạn kt*@
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="card-title" data-lang="lblDSPhieuBaoTri">Danh sách phiếu bảo trì</h5>
                                <div class="form-group">
                                    <div class="table-responsive" style="overflow: auto">
                                        <table id="tbmyecomain" class="table table-bordered table-condensed display">
                                            <thead>
                                                <tr>
                                                    <th>Mã tài sản</th>
                                                    <th>Tên tài sản</th>
                                                    <th>Bảo trì</th>
                                                    <th>Kiểm tra</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*<tr>
                                                        <td colspan="8" data-lang="KhongCoDuLieu">Không có dữ liệu</td>
                                                    </tr>*@
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*tab giám sát tình trạng đến hạng*@
                    <div role="tabpanel" class="tab-pane" id="tabmonitoring">
                        @*table giám sát tình trạng đến hạn kiểm tra*@
                    </div>
                </div>
            </div>
            <div id="divButtonFloat" class="kc_fab_wrapper">
            </div>
        </div>
    </div>
</div>



<script>
    var urlPhieuBaoTri = '@Url.Action("GetPhieuBaoTri", "MyEcomain")';
    var urlGiamSatTinhTrang = '@Url.Action("GetGiamSatTinhTrang", "MyEcomain")';
    var urlMyecomain = '@Url.Action("GeMyecomain", "MyEcomain")';
    var urlFilterPBT = '@Url.Action("FilterData", "WorkOrder")';
    var urlDevices = '@Url.Action("getDevices", "UserRequest")';
    var urlReadbarcode = '@Url.Action("ProcessRequest", "MyEcomain")';
    require(['MyEcomainController'])
</script>
@*<script src="~/js/controller/MobileBarcodeReader.js"></script>*@
